@use "../../styles/partials/mixins";
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.search {
  &__container {
    padding: 0;
    margin: 0;
    height: 710vh;
    width: 100%;
    background: #2e2d38;
    @include mixins.tablet {
      height: 400vh;
    }
    @include mixins.desktop {
      height: 310vh;
    }
  }
  &__box {
    padding-top: 40px;
  }

  &__header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    font-size: 30px;
  }
  &__form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
  }
  &__form:hover {
    width: 200px;
    cursor: pointer;
  }
  &__form:valid {
    width: 200px;
    cursor: pointer;
  }

  &__form:hover input {
    display: block;
  }
  &__form:valid input {
    display: block;
  }

  &__form:hover .fa {
    background: #07051a;
    color: white;
  }
  &__form:valid .fa {
    background: #07051a;
    color: white;
  }
}

.fa-search {
  color: #07051a;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.list {
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
    justify-content: space-evenly;
  }
}
