/** Variables   ==============
    Colours, Breakpoints, Gap
=============================**/

/* Break points */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* Gap */
$mobile-gap: 1rem;
$tablet-gap-outside: 2rem;
$desktop-gap-outside: 4rem;

$text-color: #323232; /* text color*/
$button-color: #0095ff; /* Primary CTA color. Active form field outline color.*/
$secondary-text-color: #afafaf; /* Secondary text color. Text Label color*/
$bg-color: #ffffff; /* Background color. CTA text color.*/

// Secondary colors
$bg-video-color: #000000; /*  Video player components.*/
$hover-color: #0065ad; /*  CTA hover state color.*/
$line-divider-color: #e1e1e1; /* Divider line. Form field outline color.*/
$bg-color-form-field: #fafafa; /*Form field background color.*/
